*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(153, 209, 231);
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
header{
    text-align: center;
    background-color: rgb(4, 4, 58);
    color: white;
    line-height: 80px;
    width: 100%;
}

.game{
    margin: 5%;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    
}

img{
    width: 210px;
    height: 210px;
    border-radius: 50%;
    object-fit: cover;
}

.choice:hover{
    border: 5px solid black;
    cursor: pointer;
}

.rock:hover::after {
    content: "Select rock";
    position:relative;
    background-color: aqua;
    width: fit-content;
    font-size: large;
}

.scissor:hover::after{
    content: "Select Scissor";
    position: relative;
    background-color:aqua;
    width: fit-content;
    font-size: large;
}

.paper:hover::after{
    content: "Select Paper";
    position: relative;
    background-color:aqua;
    width: fit-content;
    font-size: large;
}

.score{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: aqua;
    font-size: 1.6rem;
    width: 100%;
}

.btn{
    margin-top: 5%;
    
    text-align: center;

}
#button{
    font-size: 2rem;
    color: white;
    width: fit-content;
    border-radius: 8px;
    padding: 10px;
    background-color: black;
}

p:hover{
    opacity:50%;
}

.btn:hover{
    opacity: 80%;
}

header:hover{
    color: aquamarine;
    cursor: pointer;
}

#button:hover{
    cursor: grab;
}

.hidden{
    display: none;
}

.wonimage{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

